small {
  margin: 0 7% 0 7%
}

.replies ul {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
}

.user-info {
  width: 75%;
}

.replies li {
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: -5%;
}

.replies p {
  font-weight: bolder;
  font-size: larger;
  margin-top: 0;
  margin-bottom: 0;
  color: #616161;
  text-align: left;
}

#myTextarea {
  align-content: center;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  margin: 30px 25% 0 25%;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 50%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  resize: none;
}

#myTextarea:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  border-right: 2px solid lightskyblue;
  border-left: 2px solid lightskyblue;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#submit {
  display: block;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
  border-radius: 10px;
  color: white;
  padding: 16px;
  background-color: #4f8a8f;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: 5px 5px 5px dimgray;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  margin: 30px auto 30px auto;
  width: 10%;
}

#replySubmit {
  display: block;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
  border-radius: 10px;
  color: white;
  background-color: #4f8a8f;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: 5px 5px 5px dimgray;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  width: auto;
  height: max-content;
}

.replyForm {
  display: none;
  transition: all 2s ease-in;
}

.visible {
  display: block;
}

#submit:hover {
  box-shadow: 2px 2px 1px dimgray;
}

#submit:active {
  box-shadow: inset 1px 1px 2px dimgray;
}

.reply-button {
  text-decoration: none;
  background-color: dimgray;
  border: black;
  border-radius: 1rem;
  transition: background-color .25s ease, color .25s ease;
  color: #ffffff;
}

.user-comment-card {
  background: #fff;
  min-height: 80px;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 25px;
  display: flex;
  align-items: flex-start;
  padding: 1rem 1rem 0.5rem;
  margin-top: 0.5rem;
  overflow: auto;
}

h4.user__name {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.user__comment {
  font-weight: bolder;
  font-size: larger;
  margin-top: 0;
  margin-bottom: 0;
  color: #616161;
  text-align: left;
}

.user__comment p {
  margin: 0;
}

img.user-avatar {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #ddd;
  margin-right: 1rem;
}

.user__comment__reaction {
  margin-top: 0.5rem;
  font-size: 18px;
  display: flex;
  color: #616161;
  align-items: center;
}

.ion-md-thumbs-down {
  margin-left: 1.5rem;
  margin-top: 4px;
}

i.icon {
  margin-right: 0.5rem;
  background: white;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 320ms ease-in-out;
}

i.icon.ion-md-thumbs-up {
  background-color: #4caf50;
  color: #4caf50;
}

i.icon.ion-md-thumbs-up:hover {
  transform: scale(1.1);
}

i.icon.ion-md-thumbs-down {
  background-color: #ee0000;
  color: #e00;
}

i.icon.ion-md-thumbs-down:hover {
  transform: scale(1.1);
}

li {
  /* list-style-type: none;
  width: 65%;
  position: center; */
}

ul {
  width: 50%;
  margin: auto;
  list-style-type: none;
  padding-inline-start: 0;
  /* padding-left: 25%;
  position: center; */
}

.replyTextArea {
  align-content: center;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  margin: 20px 25% 10px 0;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  resize: none;
}

.replyTextarea:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  border-right: 2px solid lightskyblue;
  border-left: 2px solid lightskyblue;
}
