body {
  margin: 0;
  background-image: url("");

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#world {
  display: block;
  margin: auto;
}

.header-link:hover {
  background-color: #dcdcdc;
}

#current-time {
  display: inline-block;
  text-align: center;
  font-size: 17px;
  margin-top: 0.55%;
  margin-left: 33%;
  padding: 14px 16px;
}
